<div class="menu-nav">
    <div class="logo">
       <a href="http://localhost:4200/home"><img src="../../../assets/img/logo_proyecto.png" alt="logo"></a>
    </div>
    <div class="items-menu">
        <ul>
            <li class="item"><a href="#">Servicios</a></li>
            <li class="item"><a href="#">Información</a></li>
            <li class="item"><a href="#">Ayuda</a></li>
        </ul>
        <div class="sesion">
            <app-sesion></app-sesion>
        </div>
    </div>
</div>
