.buscador-alojamiento{
  height: fit-content;
  width:fit-content;
  margin: 5px auto 5px auto;
}

.buscador-alojamiento .item{
  display: inline-block;
  margin:25px;
}

.buscador-alojamiento label{
  font-weight: bold;
}
