<div class="sesion">
    <div *ngIf="sesion == false" class="items-sesion">
        <div class="item item-registrare"><a href="http://localhost:4200/usuarios/registro">Regitrarse</a></div>
        <div class="item item-sesion"><a href="http://localhost:4200/usuarios/login">Iniciar Sesion</a></div>
    </div>
    <div *ngIf="sesion == true" class="usuario-sesion">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Dropdown link
            </a>
        
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
</div>
