<div class="buscador-alojamiento">
    <div class="item">
        <label for="ciudad">Ciudad:</label> <br>
        <input id="ciudad" type="text" name="ciudad" value="" placeholder="Ciudad, ejm: Cuenca">
    </div>
    <div class="item">
        <label for="huespedes">Huespedes:</label> <br>
        <input id="huespedes" type="number" name="huespedes" value="1">
    </div>
    <div class="item">
        <label for="fecha-inicial">Fecha Inicial:</label> <br>
        <input id="fecha-inicial" type="date" name="" value="">
    </div>
    <button type="button" name="button">Buscar</button>
</div>

