  <div class="media">
    <img class="mr-3" src="https://images.homify.com/c_fill,f_auto,q_0,w_740/v1441105506/p/photo/image/709922/puntamita-casaquerencia-25.jpg" alt="Generic placeholder image">
      
    <ul class="list-group list-group-flush"><h5 class="card-title">Información de la vivienda</h5>
      
      <li class="list-group-item"><b>Descripción: </b> {{alojamiento.descripcion}}</li>
      <li class="list-group-item"><b>Ubicación: </b>{{alojamiento.ubicacion}}</li>
      <li class="list-group-item"><b>Condiciones: </b>{{alojamiento.condicionesUso}}</li>
      <li class="list-group-item"><b>Servicios: </b>{{alojamiento.servicios}}</li>
      <li class="list-group-item"><b>No. húespedes recomendado: </b>{{alojamiento.numeroHuespedes}}</li>
      <li class="list-group-item"><b>No. de camas: </b>{{alojamiento.numeroCamas}}</li>
      <li class="list-group-item"><b>No. de baños: </b>{{alojamiento.numeroBanos}}</li>
      <li class="list-group-item"><b>No. de habitaciones: </b>{{alojamiento.numeroHabitaciones}}</li>
      <li class="list-group-item"> <b class="precio">Precio por noche: </b>${{alojamiento.precioPorNoche}}</li>
      <div class="card-body">
        <button class= "regresa" type="button" class="btn btn-outline-primary center btn-block" click = "Login()">Regresar</button>
      <button class="alquila" type="button" class="btn btn-outline-success center btn-block">Alquilar</button>
      </div>



  


    