<!-- -------------- Menu principal -------------- -->
<app-menu-nav></app-menu-nav>

<!-- -------------- Alojamuento Detalle -------------- -->

  <div class="media">
    <img class="mr-3" src="https://images.homify.com/c_fill,f_auto,q_0,w_740/v1441105506/p/photo/image/709922/puntamita-casaquerencia-25.jpg" alt="Generic placeholder image">
      
    <ul class="list-group list-group-flush"><h5 class="card-title">Información de la vivienda</h5>
      
      <li class="list-group-item"><b>Descripción: </b> {{alo.descripcion}}</li>
      <li class="list-group-item"><b>Ubicación: </b>{{alo.ubicacion}}</li>
      <li class="list-group-item"><b>Condiciones: </b>{{alo.condicionesUso}}</li>
      <li class="list-group-item"><b>Servicios: </b>{{alo.servicios}}</li>
      <li class="list-group-item"><b>No. húespedes recomendado: </b>{{alo.numeroHuespedes}}</li>
      <li class="list-group-item"><b>No. de camas: </b>{{alo.numeroCamas}}</li>
      <li class="list-group-item"><b>No. de baños: </b>{{alo.numeroBanos}}</li>
      <li class="list-group-item"><b>No. de habitaciones: </b>{{alo.numeroHabitaciones}}</li>
      <li class="list-group-item"> <b class="precio">Precio por noche: </b>${{alo.precioPorNoche}}</li>
      <div class="card-body">
        <button class= "regresa" type="button" class="btn btn-outline-primary center btn-block">Regresar</button>
      <button class="alquila" type="button" class="btn btn-outline-success center btn-block">Alquilar</button>
      </div>



  


    