<div class="contenedor">
    <div class="calificacion">
        <p>5-</p><img src="../../../../assets/img/icono_calificacion.png" alt="calificacion">
    </div>
    <div class="tarjeta">
        <img src="{{listaImgs[0].imagenUrl}}" alt="">
        <p>{{alojamiento.descripcion}}</p>
        <p>Huespedes: <span>{{alojamiento.numeroHuespedes}}</span></p>
        <p>Habitaciones: <span>{{alojamiento.numeroHabitaciones}}</span></p>
        <p>Camas: <span>{{alojamiento.numeroCamas}}</span></p>
        <p>Precio por noche: <span>$</span><span class="precio">{{alojamiento.precioPorNoche}}</span></p>
        <div class="btn-ver-mas">
            <button click = "vermas()">¡Ver mas!</button>
        </div>
    </div>
</div>
