<!-- -------------- Menu principal -------------- -->
<app-menu-nav></app-menu-nav>

<!-- -------------- Agregar Alojamiento -------------- -->
<div class="container col-md-6">
    <div class="card">
        <div class="card-header"> 
            <h3>Agregar nuevo Alojamiento</h3>
        </div>
        <div style="width: 400px;">
            <form [formGroup]="formulario" (ngSubmit)="enviar(formulario.value)" >
                <div>
                    <label for="name">Descripción:</label>
                    <input formControlName="descripcion" type="text" class="form-control" id="Descripcion" required name="descripcion">
                </div>
                <div>
                    <label for="name">Ubicaión:</label>
                    <input formControlName="ubicacion" type="text" class="form-control" id="ubicacion" required  name="ubicacion">
                </div>
                <div>
                    <label for="name">Condiciones de Uso :</label>
                    <input formControlName="condiciones" type="text" class="form-control" id="condiciones"  name="condiciones">
                </div>
                <div>
                    <label for="name">Servicios:</label>
                    <input formControlName="servicios" type="text" class="form-control" id="servicios" required name="servicios">
                </div>
                <div>
                    <label for="name">Número de huespedes:</label>
                    <input formControlName="huespedes" type="number" class="form-control" id="Nhuespedes" required  name="nHuespedes">
                </div>
                <div>
                    <label for="name">Número de camas:</label>
                    <input formControlName="camas" type="number" class="form-control" id="nCamas" required  name="nCamas">
                </div>
                <div>
                    <label for="name">Número de baños:</label>
                    <input formControlName="banos" type="number" class="form-control" id="nBaños" required  name="nBaños">
                </div>
                <div>
                    <label for="name">Número de habitaciones:</label>
                    <input formControlName="habitaciones" type="number" class="form-control" id="nHabitaciones" required name="nHabitaciones">
                </div>
                <div>
                    <label for="name">Precio:</label>
                    <input formControlName="precio" type="number" class="form-control" id="precio" required name="precio">
                </div>
                <div style="margin: 15px 10px 15px 10px;">
                    <label for="ciudad">Ciudad: </label>
                    <select formControlName="ciudad" name="ciudades" id="ciudad">
                        <option *ngFor = "let ciudad of listaCiudades" [value] = "ciudad.id">
                            {{ciudad.nombre}}
                        </option>
                    </select>
                </div>
                <div style="margin: 15px 10px 15px 10px;">
                    <label for="tipo">Tipo de Vivienda: </label>
                    <select formControlName="tipo" name="tipo" id="tipo">
                        <option *ngFor = "let tipo of listaTipos" [value] = "tipo.id">
                            {{tipo.tipo}}
                        </option>
                    </select>
                </div>
                <div style="margin: 15px 10px 15px 10px;">
                    <label for="tipo">Elija una Imagen: </label>
                   <input formControlName="imagen" type="file" #imagenInputFile (change) = "onFileChange($event)" accept="image/png, image/jpeg, image/gif ">
                </div>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </div>
</div>

<div [hidden]="!submitted">
    <h4>Agregado Correctamente!</h4>
    <!--registra-->
</div>