<!-- -------------- Menu principal -------------- -->
<app-menu-nav></app-menu-nav>

<!-- -------------- Detalle Usuario -------------- -->
<h2>Datos del Usuario</h2>

<hr/>
<div *ngIf="usuario">
    <div>
        <label><b>Nombre:</b></label> {{usuario.nombre}}
    </div>
    <div>
        <label><b>Correo: </b></label> {{usuario.correo}}
    </div>
    <div>
        <label><b>Genero: </b></label> {{usuario.genero}}
    </div>
    <div>
        <label><b>Fecha de nacimiento: </b></label> {{usuario.fechaNacimiento}}
    </div>
    <div>
        <label><b>Password: </b></label> {{usuario.password}}
    </div>
</div>

<br>
<br>
<button (click)="editarUsu()" class="btn btn-primary">Editar Usuario</button><br>