<!-- -------------- Menu principal -------------- -->
<app-menu-nav></app-menu-nav>

<!-- -------------- Detalle Usuario -------------- -->
<h2>Datos del Usuario</h2>
<div>
    <hr/>
    <div>
        <div>
            <label><b>Nombre:</b></label> {{usuario.nombre}}
        </div>
        <div>
            <label><b>Correo: </b></label> {{usuario.correo}}
        </div>
        <div>
            <label><b>Genero: </b></label> {{usuario.genero}}
        </div>
        <div>
            <label><b>Fecha de nacimiento: </b></label> {{usuario.fechaNacimiento}}
        </div>
        <div>
            <label><b>Password: </b></label> {{usuario.password}}
        </div>
    </div>

    <br>
    <br>
    <button (click)="editarUsu(usuario.correo)" class="btn btn-info">Editar Usuario</button>
    <button (click)="agregar()" class="btn btn-info" style="margin-left: 10px">Agregar Nuevo Alojamiento</button><br>
    <br><br><br>
    <app-listar-alojamiento-usu [correo] = "correo"></app-listar-alojamiento-usu>
</div>