  <div class="media">
    <img class="mr-3" src="https://images.homify.com/c_fill,f_auto,q_0,w_740/v1441105506/p/photo/image/709922/puntamita-casaquerencia-25.jpg" alt="Generic placeholder image">
      
    <ul class="list-group list-group-flush"><h5 class="card-title">Información de la vivienda</h5>
      
      <li class="list-group-item"><b>Descripción: </b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nobis numquam voluptatibus, mollitia odio molestias rerum doloribus praesentium distinctio nam, veniam eveniet, labore officiis aut sit. Dolor eveniet eaque molestiae.</li>
      <li class="list-group-item"><b>Ubicación: </b>Cras justo odio</li>
      <li class="list-group-item"><b>Condiciones: </b>Dapibus ac facilisis in</li>
      <li class="list-group-item"><b>Servicios: </b>estibulum at eros</li>
      <li class="list-group-item"><b>No. húespedes recomendado: </b>5</li>
      <li class="list-group-item"><b>No. de camas: </b>5</li>
      <li class="list-group-item"><b>No. de baños: </b>5</li>
      <li class="list-group-item"><b>No. de habitaciones: </b>5</li>
      <li class="list-group-item"> <b class="precio">Precio por noche: </b>$100</li>
      <div class="card-body">
        <button class= "regresa" type="button" class="btn btn-outline-primary center btn-block" click = "Login()">Regresar</button>
      <button class="alquila" type="button" class="btn btn-outline-success center btn-block">Alquilar</button>
      </div>



  


    