<div class="panel-heading">
    <h2>Listado Alojamientos</h2>
</div>
<div class="panel-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Condiciones de uso</th>
                <th>Descripcion</th>
                <th>Número de baños</th>
                <th>Numero de camas</th>
                <th>Numero de habitaciones</th>
                <th>Precio</th>
                <th>Servicios</th>
                <th>Ubicación</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alojamiento of alojamientos">
                <td>{{alojamiento.descripcion}}</td>
                <td>{{alojamiento.condicionesUso}}</td>
                <td>{{alojamiento.numeroBanos}}</td>
                <td>{{alojamiento.numeroCamas}}</td>
                <td>{{alojamiento.numeroHabitaciones}}</td>
                <td>{{alojamiento.precioPorNoche}}</td>
                <td>{{alojamiento.servicios}}</td>
                <td>{{alojamiento.ubicacion}}</td>
                <td><button (click) = "eliminarAlojamiento(alojamiento.id)"type="button" class="btn btn-info">Actualizar</button></td>
                <td><button type="button" class="btn btn-danger">Eliminar</button></td>
                <br>
            </tr>
        </tbody>
    </table>

</div>